* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Garamond sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(233, 230, 230) 0%,
    rgba(233, 230, 230) 100%
  );
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #cecaca;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #423e63;
  font-size: 27px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(214, 160, 44);
  outline: none;
  width: 320px;
  background: #e7e3e3;
  color: #383736;
}

.todo-input::placeholder {
  color: #8d8686;
}

.todo-button {
  margin-left: 10px;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(231, 186, 126) 0%,
    rgb(218, 150, 111) 100%
  );
  color: #f7f3f3;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #6ba8d4;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(140, 170, 204) 0%,
    rgb(178, 168, 212) 100%
  );
  padding: 15px 11px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  margin-bottom: 22px;
  color: rgb(92, 92, 97);
  background: rgb(243, 241, 240);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 25px;
  color: #e70e0e;
}

.edit-icon {
  color: #cf842e;
}
